@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin link-bg () {
  -webkit-tap-highlight-color: transparent;
}

@mixin vrtcl-cntr-flx {
  display: flex;
  justify-content: center;
}
