/* здесь используйте глобальные переменные */
$white: #ffffff;
$black: #000000;
$basic_grey: #f2f2f2;
$basic_dark-grey: #444444;
$basic-green: #68b738;
$background-green: rgba(105, 183, 56, 0.85);
$background-green:rgba(105, 183, 56, 0.85);
