/* здесь используйте глобальные переменные */
//* COLORS
$white: #ffffff;
$black: #000000;
$red: #ff8282;
$basic-gray: #f2f2f2;
$basic-dark-gray: #444444;
$basic-dark-gray2: #222222;
$basic-dark-gray3: #666666;
$basic-special-gray: #cdcdcd;
$basic-light-gray: #eaeaea;
$basic-light-gray2: #e6e6e6;
$basic-light-gray3: #d9d9d9;
$basic-light-gray4: #ebebeb;
$basic-light-gray5: #d3d3d3;
$basic-light-gray6: #e7e7e7;
$basic-green: #68b738;
$background-green: rgba(105, 183, 56, 0.85);
$basic-green-2: #5eaa2f;

$centering-mobile: 20px;
$centering-tablet: 30px;
$centering-desktop: 110px;
