/* здесь используйте глобальные переменные */
$white: #ffffff;
$black: #000000;
$basic-grey: #f2f2f2;
$basic-dark-grey: #444444;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$background-green: rgba(105, 183, 56, 0.85);
