/* здесь используйте глобальные переменные */
$white: #ffffff;
$black: #000000;
$basic-gray: #f2f2f2;
$basic-dark-gray: #444444;
$basic-dark-gray2: #222222;
$basic-light-gray: #eaeaea;
$basic-special-gray: #cdcdcd;
$basic-light-gray2: #e6e6e6;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$background-green: rgba(105, 183, 56, 0.85);
