/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/header";
@import "./blocks/footer.scss";
@import "./blocks/page.scss";
@import "./blocks/centering-wraper.scss";
@import "./blocks/visually-hiden.scss";

//* ГЛАВНАЯ СТРАНИЦА

@import "./blocks/main-page/section-promo.scss";
@import "./blocks/main-page/section-catalogs.scss";
@import "./blocks/main-page/section-how-work.scss";
@import "./blocks/main-page/section-additional.scss";
@import "./blocks/main-page/section-exemple.scss";
@import "./blocks/main-page/section-address.scss";
