/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/page.scss";
@import "./blocks/visually-hiden.scss";
@import "./blocks/section-promo.scss";
