.catalogs {
  display: flex;
  justify-content: center;

  .centering-wraper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__catalog {
    padding: 21px 20px 18px;
    background-color: $basic-gray;
    display: grid;
    grid-template-areas:
      "title icon"
      "text icon"
      "link icon";
  }

  &__title {
    grid-area: title;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
  }

  &__title:nth-child(1) {
    gap: 20px;
  }

  &__title:nth-child(2) {
    gap: 11px;
  }

  &__text {
    grid-area: text;
    color: $basic-dark-gray;
    font-family: "lato", sans-serif;
    font-size: 14px;
    line-height: 18px;
  }

  &__link {
    grid-area: link;
    display: flex;
    align-items: center;
    gap: 15px;
    color: $black;
    text-decoration: none;
    text-align: center;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__link::after {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    background-image: url("../../icons/icon-arrow.svg");
  }

  //! планшетная и компьютерная версия

  @media (min-width: 768px) {
    &__title {
      font-size: 36px;
      line-height: 36px;
      text-transform: uppercase;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }

  }

  //! иконки
  &__title--cat-shadow::before {
    content: "";
    width: 50px;
    height: 53px;
    display: block;
    background: url("../../images/cat-shadow.svg") no-repeat;
  }

  &__title--tiger-shadow::before {
    content: "";
    width: 67px;
    height: 50px;
    display: block;
    background: url("../../images/tiger-shadow.svg") no-repeat;
  }

  @media (min-width: 768px) and (max-width: 1440px) {
    &__title--cat-shadow::before {
      display: none;
    }

    &__title--tiger-shadow::before {
      display: none;
    }

    &__catalog:nth-child(1)::after {
      grid-area: icon;
      content: "";
      width: 200px;
      height: 211px;
      display: block;
      background: url("../../images/cat-shadow.svg") no-repeat;
    }

    &__catalog:nth-child(2)::after {
      grid-area: icon;
      content: "";
      width: 268px;
      height: 200px;
      display: block;
      background: url("../../images/tiger-shadow.svg") no-repeat;
    }
  }

  @media (min-width: 1440px) {
    &__title--cat-shadow::before {
      content: "";
      width: 100px;
      height: 106px;
      display: block;
      background: url("../../images/cat-shadow.svg") no-repeat;
    }

    &__title--tiger-shadow::before {
      content: "";
      width: 134px;
      height: 100px;
      display: block;
      background: url("../../images/tiger-shadow.svg") no-repeat;
    }
  }
}
