.catalogs {
  display: flex;
  justify-content: center;

  &__catalog {
    background-color: $basic-grey;
  }

  &__title {
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
  }

  &__text {
    color: $basic-dark-grey;
    font-family: "lato", sans-serif;
    font-size: 14px;
    line-height: 18px;
  }

  &__link {
    color: $black;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__link::after {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    background-image: url("../../icons/icon-arrow.svg");
  }

  //! иконки

  &__title--cat-shadow::before {
    content: "";
    width: 100px;
    height: 106px;
    display: block;
    background: url("../../images/cat-shadow.svg") no-repeat;
  }

  &__title--tiger-shadow::before {
    content: "";
    width: 134px;
    height: 100px;
    display: block;
    background: url("../../images/tiger-shadow.svg") no-repeat;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .catalogs {
    &__title--cat-shadow::before {
      content: "";
      width: 200px;
      height: 211px;
      display: block;
      background: url("../../images/cat-shadow.svg") no-repeat;
    }

    &__title--tiger-shadow::before {
      content: "";
      width: 268px;
      height: 200px;
      display: block;
      background: url("../../images/tiger-shadow.svg") no-repeat;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .catalogs {
    &__title--cat-shadow::before {
      content: "";
      width: 50px;
      height: 53px;
      display: block;
      background: url("../../images/cat-shadow.svg") no-repeat;
    }

    &__title--tiger-shadow::before {
      content: "";
      width: 67px;
      height: 50px;
      display: block;
      background: url("../../images/tiger-shadow.svg") no-repeat;
    }
  }
}
