.how-work {
  display: flex;
  justify-content: center;
  padding: 0 0 49px;
}

.how-work__title {
  margin-bottom: 40px;
}

.how-work__stages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.how-work__stage-number {
  display: none;
}

.how-work__stage-text {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  color: $basic-dark-gray;
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 18px;

  &::before {
    content: "";
    height: 60px;
    min-width: 60px;
    display: block;
    background-position: center;
    background-color: $basic-green;
    background-repeat: no-repeat;
  }

  &--one::before {
    background-image: url("../../icons/natural-icon.svg");
    background-size: 30px 32px;
  }

  &--two::before {
    background-image: url("../../icons/powder-icon.svg");
    background-size: 26px 29px;
  }

  &--three::before {
    background-image: url("../../icons/eat-icon.svg");
    background-size: 25px 30px;
  }

  &--four::before {
    background-image: url("../../icons/time-icon.svg");
    background-size: 26px 31px;
  }
}

@media (min-width: 768px) {
  .how-work {
    padding-bottom: 47px;
    margin-bottom: 45px;
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      background-color: $basic-light-gray3;
    }
  }

  .how-work__stages {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    gap: 37px 56px;
  }

  .how-work__title {
    margin-bottom: 32px;
  }

  .how-work__stage {
    padding-top: 40px;
    position: relative;
    height: 280px; //! временная высота
    max-width: 250px;
    background-repeat: no-repeat;
    background-position: right top;
  }

  .how-work__stage-number {
    display: flex;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    color: $basic-gray;
    text-align: center;
    font-size: 280px;
    font-style: normal;
    font-weight: 400;
    line-height: 280px;

    &--one {
      margin-right: 24px;
    }
  }

  .how-work__stage-text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 31px;
    font-size: 16px;
    line-height: 24px;

    &::before {
      height: 80px;
      width: 80px;
    }

    &--one::before {
      background-size: 30px 32px;
    }

    &--two::before {
      background-size: 26px 29px;
    }

    &--three::before {
      background-size: 25px 30px;
    }

    &--four::before {
      background-size: 26px 31px;
    }

    &--four {
      max-width: 97%;
    }
  }
}

@media (min-width: 1440px) {
  .how-work {
    margin-bottom: 0;
    padding-bottom: 69px;

    &::after {
      display: none;
    }
  }

  .how-work__stages {
    display: flex;
    justify-content: space-between;
  }

  .how-work__stage {
    &--four {
      margin-right: -5px;
    }
  }
}
