.promo {
  @include vrtcl-cntr-flx;

  .centering-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27px 0 0;

    @media (min-width: 768px) and (max-width: 1440px) {
      padding: 62px 0 0;
    }

    @media (min-width: 1440px) {
      padding: 29px 0 52px;
    }
  }
}

.promo__title {
  text-align: center;
  margin-bottom: 25px;
  color: $white;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__text {
  margin: 0 0 28px;
  text-align: center;
  color: $white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__link {
  width: 100%;
  text-decoration: none;
}

//! планшетная версия

@media (min-width: 768px) {
  .promo {
    .centering-wraper {
      align-items: flex-start;
    }
  }

  .promo__title {
    margin: 0 90px;
    text-align: left;
    margin-bottom: 40px;
    color: $black;
    font-size: 60px;
    line-height: 60px;
  }

  .promo__text {
    margin: 0 90px;
    margin-bottom: 21px;
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__link {
    margin: 0 90px;
    position: absolute;
    top: 42%;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    width: 244px;
  }
}

@media (min-width: 1440px) {
  .promo {
    .centering-wraper {
      display: grid;
      grid-template-rows: auto auto 1fr;
      grid-template-areas:
        "title promo"
        "text  promo"
        "link  promo";
    }
  }

  .promo__title {
    margin: 78px 80px 0;
    grid-area: title;
    margin-bottom: 40px;
  }

  .promo__text {
    margin: 0 80px;
    grid-area: text;
    margin-bottom: 52px;
  }

  .promo__link {
    margin: 0 80px;
    height: min-content;
    grid-area: link;
    position: static;
  }

  .promo__product {
    grid-area: promo;
    transform: translate(-174px, -3px);
  }

  .promo picture {
    display: contents;
  }
}
