.example {
  @include vrtcl-cntr-flx;
  padding: 25px 0 40px;
  background-color: $basic-light-gray;

  .example__title {
    margin-bottom: 40px;
  }

  .example__text {
    color: $basic-dark-gray;
    font-family: "lato", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 20px;
  }

  .example__info-primary {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .example__info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      min-height: 56px;
      height: 72%;
      border: 1px solid $basic-special-gray;
      border-radius: 3px;
    }
  }

  .example__info-text {
    padding: 16px;
    min-width: 124px;
    min-height: 56px;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }

  .example__info-caption {
    max-width: 70%;
    padding: 0 6px;
    margin-top: -9px;
    z-index: 1;
    background-color: $basic-light-gray;
    color: $basic-dark-gray;
    text-align: center;
    font-family: "lato", sans-serif;
    font-size: 12px;
    line-height: 100%;
  }

  .example__info-price {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .example__cat {
    position: relative;

    .example__cat-after {
      position: absolute;
      right: 0;
      left: 0;
    }
  }

  @media (min-width: 768px) {
    position: relative;
    background-color: transparent;

    &::after {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 462px;
      display: block;
      background-color: $basic-light-gray;
      z-index: -1;
    }

    .example__text {
      margin-bottom: 55px;
    }

    .example__info {
      display: flex;
      justify-content: space-between;
    }

    .example__info-card::after {
      min-height: 72px;
    }

    .example__info-primary {
      margin: 0;
      gap: 43px;
    }

    .example__info-text {
      min-width: 162px;
      min-height: 72px;
      font-size: 30px;
      line-height: 37px;
    }

    .example__info-caption {
      max-width: none;
      padding: 0 10px;
      font-size: 14px;
      line-height: 14px;
      background-color: $white;
    }

    .example__info-price {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (min-width: 1440px) {
    .example__caption {
      width: 50%;
    }

    .example__title {
      margin-bottom: 146px;
    }

    .example__text {
      margin-bottom: 69px;
    }

    .example__cat {
      width: 50%;
    }

    .centering-wraper {
      display: flex;
    }

    .example__info {
      display: flex;
      flex-direction: column;
    }

    .example__info-caption {
      background-color: $basic-light-gray;
    }

    .example__info-primary {
      margin-bottom: 55px;
      gap: 42px;
      justify-content: left;
    }
  }
}
