.products {
  @include vrtcl-cntr-flx;
  padding: 24px 0;

  @media (min-width: 768px) {
    padding: 62px 0 74px;
  }

  @media (min-width: 1440px) {
    padding: 71px 0;
  }
}

.products__cards {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products__title {
  margin-bottom: 41px;
}

@media (min-width: 768px) {
  .products__title {
    margin-bottom: 84px;
  }

  .products__cards {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 60px;
  }
}

@media (min-width: 1440px) {
  .products__cards {
    gap: 63px 80px;
  }
}
