.additional {
  @include vrtcl-cntr-flx;
  position: relative;

  .additional__title {
    display: flex;
    align-items: center;
    width: 100px;
    background-color: $white;
  }

  .additional__title::before {
    z-index: -1;
    left: 0;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $basic-green;
  }

  .additional__promo-card {
    width: 245px;
    height: 288px;
    background: url("../../images/gift-background@1x.png") no-repeat rgba(105, 183, 56, 0.85);
    background-size: 245px 288px;
    position: relative;
    z-index: -1;

    .additional__promo-card-text::before {
      content: "";
      width: 80px;
      height: 83px;
      display: block;
      background: url("../../icons/icon-gift.svg");
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      z-index: -1;
      background-color: $background-green;
    }
  }
}
