.page-footer {
  min-height: 169px;
  display: flex;
  justify-content: center;
  background-color: $basic-gray;

  .centering-wraper {
    margin: 0 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1440px) {
      margin: 0 30px;
    }

    @media (min-width: 320px) and (max-width: 768px) {
      margin: 0 20px;
    }
  }

  .social-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;

    &__link {
      display: block;
      width: 28px;
      height: 22px;
    }
  }
}
