.page-footer {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  background-color: $basic-gray;

  .page-footer__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .page-footer__item {
    padding: 20px 0;
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $basic-light-gray3;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:last-child::after {
      display: none;
    }
  }

  .page-footer__logo {
    display: flex;
    justify-content: center;
  }

  .page-footer__social {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 768px) {
    padding: 55px 0;

    .page-footer__list {
      display: flex;
      justify-content: space-between;
    }

    .page-footer__item {
      display: flex;
      align-items: center;
      padding: 0;
    }

    .page-footer__item::after {
      display: none;
    }
  }

  @media (min-width: 1440px) {
    padding: 66px 0;
  }
}
