.page-header {
  display: flex;
  justify-content: center;
  min-height: 39px;
  background-color: $white;

  .centering-wraper {
    margin: 12px 20px 12px;
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) and (max-width: 1440px) {
      margin: 25px 30px 0;
    }

    @media (min-width: 1440px) {
      margin: 55px 110px 0;
    }
  }

  &__logo {
    min-width: 68%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__list {
    display: none;
  }

  &__burger-button {
    border: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url("../../icons/burger-btn.svg");
  }

  &__close-button--special {
    display: none;
  }

  @media (min-width: 768px) {

    & {
      background: none;
    }

    &__list {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 32px;

      &-item {
        position: relative;
      }

      &-item--active::after {
        content: "";
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: -7px;
        background-color: $basic-green;
      }

      &-link {
        color: $black;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    &__logo {
      min-width: 174px;
      gap: 13px;
    }
    .page-header__list-link {
      font-size: 18px;
      line-height: 24px;
    }

    &__burger-button--special {
      display: none;
    }

  }

  @media (min-width:1440px) {
    &__list-link {
      color: $white;
    }

    &__list-item--active::after {
      background-color: $white;
    }

    &__logo {
      min-width: 202px;
      gap: 14px;
    }
  }

  //! модификаторы
  .page--catalog {
    .page-header__list-item--active::after {
      background-color: $basic-green;
    }
  }
}
