.logo {
  &__link {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  @media (min-width: 768px) and (max-width: 1440px) {

    &__link {
      display: flex;
      align-items: center;
      gap: 13px;
    }
  }
}
