.logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;

    @include link-bg;
  }

  .logo__link {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  @media (min-width: 768px) {
    .logo__link {
      display: flex;
      align-items: center;
      gap: 13px;
    }
  }
}
