.page,
.page__body {
  height: 100%;
  width: 100%;

  .page__main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .page-main {
    flex-grow: 1;
  }

  .map {
    @media (max-width: 320px) {
      width: 320px;
    }
  }
}
