.page,
.page__body {
  height: 100%;
  width: 100%;

  .page__main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .page-main {
    flex-grow: 1;
  }

}

.page--catalog {

  .page-header__list-link {
    color: $black;
  }

  .page-header__list-item--active::after {
    background-color: $basic-green;
  }
}
