.product-card-more {
  padding: 25px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 431px;
}

.product-card-more__more {
  margin-bottom: 23px;
  border: none;
  mask-image: url("../../icons/more-btn-icon.svg");
  mask-repeat: no-repeat;
  mask-size: 30px;
  background-color: $basic-light-gray5;
  transition: all 0.3s;
  width: 30px;
  height: 30px;

  &:hover {
    background-color: $basic-dark-gray3;
  }
}

.product-card-more__text {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card-more__caption {
  margin: 0 0 21px;
  color: $basic-dark-gray;
  font-family: "lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.product-card-more__more-button {
  font-family: "oswald", sans-serif;
  border: none;
  background-color: $basic-gray;
  color: $basic-dark-gray;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  min-height: 40px;
}

@media (min-width: 768px) {
  .product-card-more {
    min-height: 431px;
    align-self: flex-end;
    padding: 50px 37px 40px;

    &::after {
      height: 100%;
      background-color: transparent;
      border: 1px solid $basic-light-gray5;
    }
  }

  .product-card-more__more {
    mask-size: 60px;
    width: 60px;
    height: 60px;
  }

  .product-card-more__text {
    margin-bottom: 23px;
    max-width: 70%;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .product-card-more__caption {
    margin-bottom: 82px;
    text-align: center;
    width: 70%;
    font-size: 16px;
    line-height: 18px;
  }
}
