.address {
  display: flex;
  justify-content: center;

  .centering-wraper {
    margin: 0;
    margin: 0 110px;
    @media (min-width: 768px) and (max-width: 1440px) {
      margin: 0 30px;
    }
    @media (min-width: 320px) and (max-width: 768px) {
      margin: 0 20px;
    }
  }

  }
